/* Google Font must be first */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

@import "tailwindcss";

@theme {
    --color-brand-primary: #0284C7;
    --color-brand-secondary: #0EA5E9;
    --color-brand-dark: #0C4A6E;
    --color-brand-light: #F0F9FF;

    --font-display: "Manrope", sans-serif;
}

@layer base {
    html {
        font-family: "Manrope", sans-serif;
    }
}